@import url(./general.css);

body {
    background-color: #fffdf3;
}

nav {
    display: flex;
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    padding: 16px 24px;
    width: 100%;
    height: 100%;
    max-height: 80px;
}

nav img {
    object-fit: cover;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 28px 20px;
}

.register-card {
    width: 100%;
    max-width: 590px;
    height: fit-content;
    max-height: 893px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
}

.register-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.register-title h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    color: #222325;
    margin-bottom: 8px;
}

.register-title p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2%;
    text-align: center;
    color: #333333AD;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field label {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #333333AD;
    margin-top: 12px;
    margin-bottom: 8px;
}

.form-field label::after {
    content: "*";
    color: #FF5C2B;
}

.form-field input {
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #222325;
    display: flex;
}

.form-field select {
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #222325;
}

.form-field img {
    position: relative;
    width: 16px;
    top: -30px;
    right: 12px;
    cursor: pointer;
    align-self: flex-end;
}

.handphone-field {
    display: flex;
    gap: 12px;
}

.handphone-field input {
    flex: 1;
}

.form-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 16px;
}

.register-btn {
    background-color: #3ECF4C;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2%;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-btn {
    background-color: #E2FCD9CC;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2%;
    color: #3ECF4C;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.form-btn p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2%;
    color: #4A505C;
    text-align: center;
}

.google-btn {
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 8px 26px;
    cursor: pointer;
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2%;
    color: #4A505C;
}

.google-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}